
<nav  class="navbar">
  <h1>Poker Game</h1>

  <a class="registerpage" href="/users/register">Register</a>
  <a class= "loginpage" href="/users/login">Login</a>
  <a class= "gamepage" href="#">Game</a>
</nav>
