<form action="/users" method="POST">
    <div>
        <label>Username</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="email" required>
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <label>Wallet</label>
        <input type="number" name="wallet" required>
    </div>
    <input type="submit" value="Register">
</form>
