<form class="registerform" action="/users" method="POST">
    <div class="username">
        <label>Username</label>
        <input type="text" name="username" required>
    </div>
    <div class="email">
        <label>Email</label>
        <input type="text" name="email" required>
    </div>
    <div class="password">
        <label>Password</label>
        <input type="password" name="password" required>
    </div>
    <div class="wallet" >
        <label>Wallet</label>
        <input type="number" name="wallet" required>
    </div>
    <input type="submit" value="Register">
</form>
