<form class="loginform" action="/users" method="POST">
    <div class="username">
        <label>Username</label>
        <input type="text" name="username" required>
    </div>
    <div class="password">
        <label>Password</label>
        <input type="password" name="password" required>
    </div>
    <input type="submit" value="Login">
</form>
